html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#header{
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 20px;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    font-size: x-large;
}

.arrow {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    display: block;
}

#my-projects {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
}

#project-container {
    padding: 40px;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    margin-bottom: 30%;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    float: left;
    padding-left: 30px;
    margin: 10px;
    width: 420px;
    min-height: 280px;
    background-color: rgb(250, 250, 250, 0.8);
    border-radius: 25px;
}

b {
    color: #1687a7;
}

.project > p {
    text-align: left;    
}

a {
    text-decoration: unset;
}

.btn {
    text-decoration: unset;
    /* box-sizing: border-box; */
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #1687a7;
    border-radius: 0.6em;
    color: #1687a7;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: large;
    line-height: 1;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.btn:hover, .btn:focus {
    color: #1687a7;
    outline: 0;
}

.third {
    /* border-color: #1687a7; */
    color: #fff;
    box-shadow: 0 0 40px 40px #1687a7 inset, 0 0 0 0 #1687a7;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.third:hover {
    box-shadow: 0 0 10px 0 #1687a7 inset, 0 0 10px 4px #1687a7;
}

.parallax {
    /* The image used */
    background-image: url("/img/pexels-negative-space-169573.jpg");
  
    /* Set a specific height */
    min-height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    perspective: 8px;
    perspective-origin: 0%;
}

